@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-bg-page text-text-primary font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-text-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 10s linear infinite;
  }

  @media (min-width: 768px) {
    .animate-scroll {
      animation: scroll 30s linear infinite;
    }
  }
}
